:root {
  --color-hero-background: #3295fa;
  --color-rectangle: #ececec;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #333;
  color: #fff;
  max-height: 100vh;
}

h1,
h2,
h3,
.btn {
  font-family: "Josefin Sans", sans-serif;
}

/* hero */
.hero {
  background-color: var(--color-hero-background);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  padding-bottom: 0;
  position: relative;
}

.hero__title {
  font-size: 4.8rem;
  animation: heroAnimationRight 0.8s;
  margin: 0;
  transition: all 0.4s ease-in;
}

.hero__title:hover {
  cursor: cell;
  transform: skewX(160deg) scale(1.1);
}

.hero__description {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin: 0 0 4rem 0;
  animation: heroAnimationLeft 0.8s;
}

/* buttons */
.btn {
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.15s ease;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: var(--color-hero-background);
  color: #fff;
  border: 2px solid #fff;
}

.hero__btn {
  color: var(--color-hero-background);
  background-color: #fff;
  display: inline-flex;
  animation: buttonAnimation 0.8s ease-in 1s backwards;
  backface-visibility: hidden;
}

.hero img {
  width: 100%;
  align-self: flex-end;
  transform: translateY(7px);
}

.hero__image {
  z-index: 100;
  position: relative;
}

.hero__image::before {
  content: "";
  border: 10px solid var(--color-rectangle);
  font-size: 4rem;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;
  height: 40rem;
  z-index: -1;
}

@keyframes heroAnimationRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes heroAnimationLeft {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 6.8rem;
    align-items: center;
  }
  .hero__content {
    margin-top: 4rem;
  }
  .hero__description {
    padding-top: 1rem;
    letter-spacing: 1px;
  }
  .hero__image::before {
    width: 250px;
    height: 250px;
  }
}

/* Circle */
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 1000;
}

.circle {
  background-color: #8a0b50;
  height: 180px;
  width: 180px;
  border-radius: 100%;
  transition: transform 0.5s linear;
}

.hero.show-nav .circle {
  transform: rotate(-80deg);
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}
.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.hero.show-nav {
  transform: rotate(-20deg);
}

/* Navigation */

.list {
  list-style: none;
}

.nav__list {
  display: flex;
  position: absolute;
  top: 2rem;
  text-align: center;
  right: 10rem;
  width: auto;
}

.list__item {
  margin: 0 1rem;
}

.list__link {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.7rem 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.list__link:hover,
.list__link:active {
  background-position: 100%;
  color: var(--color-hero-background);
  transform: translateX(1rem);
}

@media screen and (max-width: 1024px) {
  nav .list {
    display: none;
  }
}

/* grid */
.grid {
  display: grid;
  max-width: 90vw;
  padding: 0;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 6rem 0;
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    gap: 0 4rem;
    justify-items: center;
  }
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 40px;
}

.footer__list {
  list-style-type: none;
  position: fixed;
  left: 0;
  left: 0;
  bottom: 10rem;
}

.footer .list__link {
  text-transform: initial;
  font-size: 2rem;
}

.footer .list__item {
  transform: translateX(-150%);
  transition: transform 0.4s ease-in;
}

.footer li {
  margin-left: 10px;
}

.footer li + li {
  margin-left: 25px;
}
.footer li + li + li {
  margin-left: 50px;
  transform: translateX(-200%);
}

.hero.show-nav + .footer li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.copyright {
  font-size: 1.8rem;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 40px;
  transform: translateY(300%);
  transition: all 0.4s ease;
}

.hero.show-nav + .footer .copyright {
  opacity: 0.5;
  transition-delay: 0.6s;
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .footer .list__link {
    font-size: 2.2rem;
  }
  .copyright {
    left: 20px;
  }
}
